@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #ffffff;
  font-family: Inter;
}

.form,
.mobile-nav nav {
  display: none;
}

main {
  display: flex;
  gap: 2rem;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  /* padding: 1rem; */
  font-size: 16px;
}

button {
  background-color: #3bb2f6;
  color: #ffffff;
  border-radius: 0.125rem;
  padding: 0.5rem 0.75rem;
  border: none;
}

.header {
  flex: 1.5;
}

.header img {
  /* padding: 0.5rem 0.75rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  flex: 0.75;
}

.form header {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.form header h1 {
  font-size: 48px;
  font-style: bold;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.label-input input {
  border-radius: 0.5rem;
  border: none;
  height: 1.5rem;
  background-color: #1e1e1e;
  padding: 0.25rem;
}

.label-input input::placeholder {
  font-size: 14px;
  font-weight: light;
}
.rememberMe {
  display: flex;
  gap: 0.25rem;
  font-size: 14px;
  align-items: center;
}

.otherActivities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0;
}

#forgotPass {
  font-size: 14px;
  text-align: center;
  color: #3bb2f6;
}

.otherActivities p a {
  color: #3bb2f6;
  text-decoration: none;
}
#noAccount {
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
}

/* Mobile Responsive design */
@media (max-width: 480px) {
  header.mobile-nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0.5rem 0.75rem;
  }

  .mobile-nav * {
    background-color: #1e1e1e;
  }

  .mobile-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    padding: 0.5rem 0.75rem;
  }
  #logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  main {
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
  }

  .header {
    /* border: 1rem solid red; */
    flex: 0.8;
  }

  .form {
    /* justify-self: center; */
    flex: 1.5;
    background-color: #1e1e1e;
    justify-content: start;
    padding: 0;
    /* height: 100%; */
    height: fit-content;

    /* border: 1rem solid pink; */
  }
  .sub-container {
    justify-self: center;
    padding: 0 0.75rem 0.5rem;
    /* border: 0.5rem solid blue; */
  }
  .form * {
    background-color: #1e1e1e;
  }

  .form form {
    padding: 0.5rem 0.75rem;
  }

  .label-input {
    gap: 0.75rem;
  }

  .label-input input {
    background-color: #111111;
    padding: 0.5rem 0.75rem;
    border: 1px solid #94a3bb;
  }

  .form form button {
    background-color: #3bb2f6;
    border-radius: 0.25rem;
    padding: 0.75rem;
  }

  #forgotPass {
    margin-top: 1rem;
  }

  #noAccount {
    margin-top: 0.5rem;
  }
}
